.BottomNav {
  background-color: #f9fafb;
}

.PageButton {
  color: #677289;
  background-color: #9da4b226;
}

.PageButton:hover {
  background-color: #9da4b259;
}

.PageButton.Active,
.PageButton.Active:hover {
  color: #1a1a1a;
  background-color: white;
  border: 0.5px solid #e1e1e1;
  box-shadow: 0px 1px 1px 0px #00000005;
}

.PageButton.Active .MainButton:focus-visible {
  outline: 0.5px solid #2f72e2;
  box-shadow: 0px 0px 0px 1.5px #2f72e240;
}
